/* *{
  margin: 0;
  padding: 0;
} */
#header{
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 10px  30px;
  margin-left: 0px;
  
}
body{
  background-color: darkmagenta;
}
a{
  
  
  text-decoration: none;
  color: black;
}
#foter{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
 
}

#a{
  margin-left:0px;
  background-color: darkmagenta;
  color: white;
  padding: 7px 13px;
  border-radius: 10px;
  
}
ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.sec{
  text-align: center;
  background-color: darkorchid;
  border-radius: 10px;
  padding: 10px;
}
main{
  display: flex;
}
.p{
  color: black;
  background-color:white ;
  border-radius: 10px;
  padding: 3px;
  
  display: inline;
}
#sec2{
  text-align: center;
  background-color: darkorchid;
  border-radius: 10px;
  margin: 0px 200px;
  padding: 10px;

}
/* #a2{
  text-align: center;
} */
#sec3{
  text-align: center;
  background-color: darkorchid;
  border-radius: 10px;
  margin: 0px 30px;
  padding: 10px;

}
#p2{
  text-align: center;
}
/* .a2{
  text-align: center;
} */
#foter .div{
  display: flex;
  width: 75%;
  gap: 80px;
}