html{
    scroll-behavior: smooth;
}
h3{
    color: deeppink;
    background-color: blue;
    
}
h4{
    color: rgb(38, 7, 29);
    background-color: black;
}
h4.h4{
    color: red;
    background-color: dimgray;


}
#sub_ject{
     color:blue ;
     background-color: brown;
}
body{
    font-family: vazer;
    line-height: 40px;
}
.div{
    background-color: darkgoldenrod;
    color: blue;
}
.header{
    
    background-color: darkgray;
    
    padding: 10px;
}

#img{
    display: inline;
    margin-right: 30px;
}
.nav{
    display: inline;
    

}
.a{
    margin-right: 200px;
    text-decoration: none;
    color: red;
}
.aside{
    float: right;
}
#p{
    background-color: gray;
    color: red;
    text-align: center;
}
 
/*سیلکتور*/
/**/